@import "tailwindcss";

html, body, #__next {
height: 100%;
}


:root {
--bg: 255 255 255;
--fg: 17 24 39;
}


.dark {
--bg: 17 24 39;
--fg: 255 255 255;
}


body {
background-color: rgb(var(--bg));
color: rgb(var(--fg));
}


/* small card style */
.card {
@apply bg-white/70 dark:bg-black/60 backdrop-blur rounded-2xl p-5 shadow-lg;
}